@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-cyber;
}


@keyframes scanline {
  0% { transform: translateX(-100%); opacity: 0; }
  20% { opacity: 1; }
  100% { transform: translateX(100%); opacity: 0; }
}

.animate-scanline {
  animation: scanline 2.2s infinite linear;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn .8s ease forwards;
}


